/*------------------- 4.2. Header  -------------------*/
.th-header {
  position: relative;
  z-index: 41;
}

.header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky-wrapper {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.sticky-wrapper.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-animation: stickyAni 0.4s ease-in-out;
  animation: stickyAni 0.4s ease-in-out;
}

@-webkit-keyframes stickyAni {
  0% {
    -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
    transform: translate3d(0, -40px, 0) scaleY(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1);
    transform: translate3d(0, 0, 0) scaleY(1);
    opacity: 1;
  }
}

@keyframes stickyAni {
  0% {
    -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
    transform: translate3d(0, -40px, 0) scaleY(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1);
    transform: translate3d(0, 0, 0) scaleY(1);
    opacity: 1;
  }
}

.main-menu a {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  color: var(--title-color);
  font-family: var(--title-font);
  text-transform: uppercase;
}

.main-menu a:hover {
  color: var(--theme-color);
}

.main-menu > ul > li {
  margin: 0 14px;
}

.main-menu > ul > li > a {
  padding: 47px 0;
}

.main-menu > ul > li > a:hover {
  color: var(--theme-color);
}

.main-menu ul {
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.main-menu ul li.menu-item-has-children > a:after {
  content: "\f078";
  position: relative;
  font-family: var(--icon-font);
  margin-left: 4px;
  font-weight: 600;
  top: 0;
  font-size: 1em;
}

.main-menu ul li:last-child {
  margin-right: 0 !important;
}

.main-menu ul li:first-child {
  margin-left: 0 !important;
}

.main-menu ul li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  z-index: 9;
}

.main-menu ul li:hover ul.mega-menu {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  -webkit-transform: scaleY(1) translateX(-50%);
  -ms-transform: scaleY(1) translateX(-50%);
  transform: scaleY(1) translateX(-50%);
}

.main-menu ul.sub-menu,
.main-menu ul.mega-menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--white-color);
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px;
  left: -14px;
  opacity: 0;
  z-index: -1;
  border: 0;
  box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
  border-radius: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.main-menu ul.sub-menu a,
.main-menu ul.mega-menu a {
  font-size: 16px;
  line-height: 30px;
}

.main-menu ul.sub-menu {
  padding: 18px 20px 18px 18px;
  left: -27px;
}

.main-menu ul.sub-menu li {
  display: block;
  margin: 0 0;
  padding: 0px 9px;
}

.main-menu ul.sub-menu li.menu-item-has-children > a:after {
  content: "\f105";
  float: right;
  top: 1px;
}

.main-menu ul.sub-menu li a {
  position: relative;
  padding-left: 23px;
  text-transform: capitalize;
}

.main-menu ul.sub-menu li a:before {
  content: "\f649";
  position: absolute;
  top: 8px;
  left: 0;
  font-family: var(--icon-font);
  width: 11px;
  height: 11px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  color: var(--theme-color);
  font-weight: 500;
}

.main-menu ul.sub-menu li ul.sub-menu {
  left: 100%;
  right: auto;
  top: 0;
  margin: 0 0;
  margin-left: 20px;
}

.main-menu ul.sub-menu li ul.sub-menu li ul {
  left: 100%;
  right: auto;
}

.main-menu .mega-menu-wrap {
  position: static;
}

.main-menu ul.mega-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  max-width: var(--main-container);
  padding: 20px 15px 23px 15px;
  left: 50%;
  -webkit-transform: scaleY(0) translateX(-50%);
  -ms-transform: scaleY(0) translateX(-50%);
  transform: scaleY(0) translateX(-50%);
}

.main-menu ul.mega-menu.mega-menu-content {
  background-color: transparent;
  width: -webkit-fill-available;
  padding: 0;
  box-shadow: none;
}

.main-menu ul.mega-menu.mega-menu-content li {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 15px;
}

.main-menu ul.mega-menu.mega-menu-content .megamenu-list {
  min-width: 260px;
  /* Large devices */
}

@media (max-width: 1699px) {
  .main-menu ul.mega-menu.mega-menu-content .megamenu-list {
    min-width: 180px;
  }
}

@media (max-width: 1199px) {
  .main-menu ul.mega-menu.mega-menu-content .megamenu-list {
    min-width: 100px;
  }
}

.main-menu ul.mega-menu.mega-menu-content .megamenu-list .mega-menu-title {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  display: block;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--title-color);
  border-color: var(--theme-color);
}

.main-menu ul.mega-menu.mega-menu-content .megamenu-list .mega-menu-title:after,
.main-menu
  ul.mega-menu.mega-menu-content
  .megamenu-list
  .mega-menu-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: var(--theme-color);
}

.main-menu
  ul.mega-menu.mega-menu-content
  .megamenu-list
  .mega-menu-title:after {
  width: calc(100% - 20px);
  left: 20px;
}

.main-menu ul.mega-menu li {
  display: block;
  width: 100%;
  padding: 0 15px;
}

.main-menu ul.mega-menu li li {
  padding: 2px 0;
}

.main-menu ul.mega-menu li a {
  display: inline-block;
  text-transform: capitalize;
}

.main-menu ul.mega-menu > li > a {
  display: block;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--title-color);
  border-color: var(--theme-color);
}

.main-menu ul.mega-menu > li > a::after,
.main-menu ul.mega-menu > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: var(--theme-color);
}

.main-menu ul.mega-menu > li > a::after {
  width: calc(100% - 20px);
  left: 20px;
}

.main-menu ul.mega-menu > li > a:hover {
  padding-left: 0;
}

.main-menu.style2 > ul > li {
  margin: 0 6px;
}

.main-menu.style2 > ul > li > a {
  padding: 2px 16px;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-menu.style2 > ul > li > a:hover {
  background-color: rgba(64, 102, 242, 0.1);
}

.main-menu.style2 ul.sub-menu {
  padding: 18px 20px 18px 18px;
  left: -27px;
  margin-top: 15px;
}

.main-menu.style2 .mega-menu.mega-menu-content {
  margin-top: 20px;
}

.header-button {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.header-button .icon-btn {
  position: relative;
}

.header-button .icon-btn:hover {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.header-button .icon-btn:hover .badge {
  background-color: var(--white-color);
  color: var(--theme-color);
}

.header-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-links li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.header-links li:not(:last-child) {
  margin: 0 26px 0 0;
}

.header-links li > i {
  margin-right: 6px;
}

.header-links li,
.header-links span,
.header-links p,
.header-links a {
  color: var(--body-color);
}

.header-links a:hover {
  color: var(--theme-color);
}

.header-links i {
  color: var(--body-color);
}

.header-links b,
.header-links strong {
  font-weight: 600;
}

.header-social .social-title {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0 15px 0 0;
  color: var(--body-color);
}

.header-social a {
  font-size: 16px;
  display: inline-block;
  color: var(--body-color);
  margin: 0 15px 0 0;
}

.header-social a:last-child {
  margin-right: 0;
}

.header-social a:hover {
  color: var(--theme-color);
}

.header-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  /* Extra small devices */
}

@media (max-width: 575px) {
  .header-logo {
    max-width: 150px;
  }
  .header-logo .icon-masking .mask-icon {
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .main-menu > ul > li > a {
    padding: 37px 0;
  }
}

/* Header 1 ---------------------------------- */
.header-layout1 {
  position: relative;
}

.header-layout1 .header-top {
  padding: 17px 0;
  background-color: var(--theme-color);
  --body-color: #fff;
}

.header-layout1 .header-top a:hover {
  color: var(--title-color);
}

.header-layout1 .menu-area {
  position: relative;
  z-index: 2;
  background-color: #080e1c;
}

.header-layout1 .main-menu {
  margin-left: 60px;
}

.header-layout1 .main-menu > ul > li > a:not(:hover) {
  color: var(--white-color);
}

.header-layout1 .menu-area {
  position: relative;
  /* Extra small devices */
}

@media (max-width: 575px) {
  .header-layout1 .menu-area {
    padding: 12px 0;
  }
}

.header-layout1 .header-logo {
  position: relative;
  z-index: 2;
}

.header-layout1 .header-button .icon-btn {
  color: var(--white-color);
}

.header-layout1 .logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 32.5%;
  height: 100%;
}

.header-layout1 .logo-bg:before,
.header-layout1 .logo-bg:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--theme-color);
  -webkit-clip-path: polygon(0 0, calc(100% - 80px) 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, calc(100% - 80px) 0%, 100% 100%, 0% 100%);
  z-index: -2;
}

.header-layout1 .logo-bg:after {
  background-image: url("../img/theme-img/logo_bg.svg");
  background-color: var(--white-color);
  background-repeat: repeat;
  width: calc(100% - 20px);
  -webkit-clip-path: polygon(0 0, calc(100% - 60px) 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, calc(100% - 60px) 0%, 100% 100%, 0% 100%);
  z-index: -1;
}

/* Hight Resoulation devices */
@media (min-width: 1922px) {
  .header-layout1 .logo-bg {
    width: 37%;
  }
}

/* Extra large devices */
@media (max-width: 1500px) {
  .header-layout1 .logo-bg {
    width: 27%;
  }
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .header-layout1 .header-button .th-btn {
    display: none;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .header-layout1 .logo-bg:before {
    -webkit-clip-path: polygon(0 0, calc(100% - 50px) 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% - 50px) 0%, 100% 100%, 0% 100%);
  }
  .header-layout1 .logo-bg:after {
    -webkit-clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
  }
  .header-layout1 .main-menu {
    margin-left: 30px;
  }
  .header-layout1 .header-top {
    padding: 12px 0;
  }
}

/* Medium devices */
@media (max-width: 991px) {
  .header-layout1 .logo-bg {
    width: 56%;
  }
  .header-layout1 .header-logo img {
    max-height: 80px;
  }
}

/* Extra small devices */
@media (max-width: 375px) {
  .header-layout1 .logo-bg {
    width: 60%;
  }
}

@media (max-width: 320px) {
  .header-layout1 .logo-bg {
    width: 64%;
  }
}
